<h1>Hola <%= @datos_formulario.nombre %>!</h1>
<h2>Tu pedido ha sido confirmado y llegará pronto</h2>
<h2>
    Tu Código de Pedido es: <%= @pedido.codigo %>
</h2>
<h2>
    EL Total de tu Compra fue de: $<%= @pedido.total %> CLP
</h2>
<h4>Los datos del pedido son los siguientes</h4>
<ul>
    <li>Nombre:     <%= @datos_formulario.nombre %></li>
    <li>Correo:     <%= @datos_formulario.correo %></li>
    <li>Teléfono:   <%= @datos_formulario.telefono %></li>
    <li>Direccion:  <%= @datos_formulario.direccion %></li>
    <li>Destino:    <%= @pedido.destino.nombre %></li>
</ul>

<h4>Los productos que ordenaste son: </h4>
<ul>
    <% @pedido.detalles_pedidos.each do |detalle| %>
        <li><%= detalle.producto.nombre %></li>
        <li>Precio unitario: <%= detalle.producto.precio %></li>
        <li>Cantidad: <%= detalle.cantidad %></li>
        <br>
    <% end %>
</ul>