<div class="mb-3 col-6">
    <%= form_with(model: categoria) do |formulario| %>
        <%= formulario.label :categoria, class:"form-label" %>
         
        <%= formulario.text_field :categoria, class:"form-control rounded-pill", autofocus: "autofocus" %>
        <% if categoria.errors[:categoria].any? %>
            <%= categoria.errors[:categoria].first %>
        <% end %>
        <br>
        <%= formulario.submit 'Editar', class:"btn btn-primary rounded-pill" %>
    <% end %>
</div>