<div class="row justify-content-between mb-4">
    <div class="col-4">
        <h1>Crear Nuevo Producto</h1>
    </div>
    <div class="col-3">
        <%= link_to productos_path, class:"btn btn-primary rounded-pill" do %>
            <i class="bi bi-card-list"></i>
            Volver a Lista Productos
        <% end %>
    </div>
</div>
<div>
    <%= form_with(model: @producto_nuevo, url: '/productos/guardar') do |formulario| %>
        
            <div class="mb-3 col-6 fw-bolder">
                <%= formulario.label :nombre, class: 'form-label' %>
                <%= formulario.text_field :nombre, class: 'form-control rounded-pill' %>
                <% if @producto_nuevo.errors[:nombre].any? %>
                    <p style="color:red;"> <%= @producto_nuevo.errors[:nombre].first %></p>
                <% end %>
            </div>
            <br>
            <div class="mb-3 col-6 fw-bolder">
                <%= formulario.label :precio, class: 'form-label' %>
                <%= formulario.text_field :precio, class: 'form-control rounded-pill' %>
                <% if @producto_nuevo.errors[:precio].any? %>
                    <p style="color:red;"> <%= @producto_nuevo.errors[:precio].first %></p>
                <% end %>
            </div>
            <br>
            <div class="mb-3 col-6 fw-bolder">
                <%= formulario.label :cantidad, class: 'form-label' %>
                <%= formulario.text_field :cantidad, class: 'form-control rounded-pill' %>
                <% if @producto_nuevo.errors[:cantidad].any? %>
                    <p style="color:red;"> <%= @producto_nuevo.errors[:cantidad].first %></p>
                <% end %>
            </div>
            <br>
            <div class="mb-3 col-6 fw-bolder">
                <%= formulario.label :descripcion, class: 'form-label' %>
                <%= formulario.text_area :descripcion, class: 'form-control rounded-pill' %>
                <% if @producto_nuevo.errors[:descripcion].any? %>
                    <p style="color:red;"> <%= @producto_nuevo.errors[:descripcion].first %></p>
                <% end %>
            </div>
            <br>
            <div class="mb-3 col-6 fw-bolder">
                <%= formulario.label :categoria_id, class: 'form-label' %>
                
                <%= formulario.select :categoria_id, options_from_collection_for_select(@categorias, :id, :categoria), {include_blank: "Elige una categoría..."}, {class: 'form-select rounded-pill'} %>
                
                <% if @producto_nuevo.errors[:categoria_id].any? %>
                    <p style="color:red;"> <%= @producto_nuevo.errors[:categoria_id].first %></p>
                <% end %>
            </div>
            <br>
            <div class="mb-3 col-6 fw-bolder">
                <%= formulario.label :imagenes %>
                <%= formulario.file_field :imagenes, multiple: true, class:"form-control rounded-pill", accept: '.jpg, .png, .jpeg', id:"inputGroupFile01" %>
                <% if @producto_nuevo.errors[:imagenes].any? %>
                    <p style="color:red;"> <%= @producto_nuevo.errors[:imagenes].first %></p>
                <% end %>
            </div>
            <br>
            
            <%= formulario.submit class:"btn btn-primary rounded-pill" do %>

            <% end %>
    <% end %>
</div>